@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --BORDER-COLOR: #dddddd35;
  --SHADE-COLOR: #333a4760;
}
body {
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.App {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CASL" 0, "CRSV" 0.5, "MONO" 0;
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  background-image: url(/public/assets/Space\ Background.jpeg);
  background-size: cover;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 50px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
  color: black;
}
.loader:before {
  content: "Loading...\AgodnLai...\Aoiaglni...\ALiongad...\Agindola...\Analoidg...";
  white-space: pre;
  display: inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100% {
    transform: translateY(-100%);
  }
}


/* Scroll-bar  */
*::-webkit-scrollbar {
  width: 4px;
  padding: 0.1px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  outline: 1px solid black;
}
